@(
  field       : String,
  id          : Option[String],
  name        : Option[String],
  value       : Option[String],
  css         : Option[String],
  placeholder : Option[String],
  help        : Option[String],
  error       : Option[String]
)

<div class="control-group">
  <label class="control-label" for="@field">@field</label>
  <div class="controls">
    <input
      class="@css.getOrElse("")"
      type="text"
      id="@id.getOrElse(field)"
      name="@name.getOrElse(field)"
      value="@value.getOrElse("")"
      placeholder="@placeholder.getOrElse("")" />
    <p class="help-block">@help.getOrElse("")</p>
    <p class="help-block">@error.getOrElse("")</p>
  </div>
</div>