@(studentForm: Form[views.formdata.StudentFormData],
  hobbies:Map[String,Boolean],
  levels:List[String],
  gpa:Map[String,Boolean],
  majors:Map[String,Boolean])

@import helper._

@main("Index") {
<div class="container">
  <div class="well">

    @form(routes.Application.postIndex(), 'class -> "form-horizontal") {
      @fieldset(studentForm, hobbies, levels, gpa, majors)
    }
  </div>

  @if(flash.containsKey("success")) {
    <div id="success-message" class="alert alert-success">
      @flash.get("success")
    </div>
  }
  @if(flash.containsKey("error")) {
    <div id="error-message" class="alert alert-error">
      @flash.get("error")
    </div>
  }
</div>

}
